/* Marca */

.brand-bold {
    color: #E1F25C;
    font-weight: 700;
}
.brand-light {
    color: #E1F25C;
    font-weight: 300 !important;
}


/* Cabecalho */

.navbar-custom {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #8b8c8c;
}
.navbar-brand-custom {
    color: #E1F25C !important;
    font-size: 2rem!important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-link {
    color: #8b8c8c !important;
}
.nav-link.active {
    color: #8b8c8c !important;
    font-weight: bold !important;
}

/* Botao */

.btn-login-cadastro{
    color: #E1F25C; 
    text-decoration: none;
}
.btn-custom {
    color: #E1F25C!important;
    border-color: #E1F25C!important;    
}
.btn-custom:hover {
    background-color: #E1F25C!important;
    color: #000000 !important;
    .btn-login-cadastro{
        color: #000000 !important;
    }
}
.btn-login-cadastro-v2{
    color: #E1F25C!important;
    border-color: #E1F25C!important;
    border-radius: 15px !important;
    padding: 12px 25px !important;
    font-size: 1rem !important;
    min-width: 200px !important;
    margin-bottom: 100px;
}
.btn-login-cadastro-v2:hover{
    background-color: #E1F25C!important;
    color: #000000 !important;
    .textbtn-login-cadastro-v2{
        color: #000000 !important;
    }
}
.textbtn-login-cadastro-v2{
    color: #E1F25C; 
    text-decoration: none;
}


/* Corpo Padrao */

body {
    background-color: #838C3A !important;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}


/* Corpo FAQ */

.faq-title{
    font-size: 3rem;
    margin-left: 50px;
    font-weight: 600;
    color: #ffffff;
}
.faq-search-box{
    margin-left: 50px;
}
.faq-subtitle{
    color: #ffffff;
    font-size: 2.25rem;
    margin-left: 50px;

}
.faq-item{
    align-items: center !important;
    margin-left: 80px;
}

.faq-item h3 {
    font-size: 1.55rem;
    color: #000000;
    margin-bottom: 20px;
}

.faq-item p {
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 40px;

}


/* Corpo Sobre Nós */
.aboutus-intro{
}
.aboutus-title{
    font-size: 3rem;
    margin-left: 50px;
    font-weight: 600;
    color: #ffffff;
}
.aboutus-brief{
    color: #ffffff;
    font-size: 1.25rem;
    margin-left: 50px;
    font-weight: 500;
    margin-top: 30px;
}
.aboutus-item{
    margin-left: 80px;
}
.aboutus-item h3{
    font-size: 1.55rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 20px;
}
.aboutus-item p{
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 40px;
}


/* Rodapé */

.footer {
    background-color: #838C3A!important; 
    color: #E1F25C!important;
    padding: 20px 0!important;
}


/* Pagina Inicial */
.homepage-title{
    font-size: 2.5rem;
    margin-left: 50px;
    font-weight: 200;
    color: #ffffff;
}