.brand-bold {
    color: #E1F25C;
    font-weight: 700;
}
.brand-light {
    color: #E1F25C;
    font-weight: 300 !important;
}

/* BOTÃO */
button{
    margin-top: 20px;
    color: #95A617;
    background-color: #E1F25C;
    border: 1px solid #E1F25C;
    border-radius: 20px ;
    padding: 10px;
    font-size: 1rem ;
}
.button{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #95A617;
    background-color: #E1F25C;
    border: 1px solid #E1F25C;
    border-radius: 20px ;
    padding: 10px;
    font-size: 1rem ;
}

button:hover {
    background-color: #95A617;
    color: #E1F25C;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #222224;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pagina Login */ 
.login-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px ;
    padding-right: 80px ;
    width: 500px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.login-box-sair{
    margin-left: 340px;
    text-decoration: none;
    color: #ffffff;
}
.login-box-sair:hover{
    font-weight: 600;
}

.login-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}

.login-box-form {
    display: flex;
    flex-direction: column;
}

.login-box-input-group {
    margin-bottom: 30px;
    position: relative;
}

.login-box-input-group label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: #222224;
    padding: 0 5px;
}

.login-box-input-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #222224;
    color: #fff;
    font-size: 20px;
}

.login-box-input-group input:focus {
    border-bottom: 2px solid #fff;
    outline: none;
}

.login-box-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login-box-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.login-box-links a:hover {
    text-decoration: underline;
}

/* Fazer Cadastro */
.sign-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px ;
    padding-right: 80px ;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.sign-box-sair{
    margin-left: 440px;
    text-decoration: none;
    color: #ffffff;
}
.sign-box-sair:hover{
    font-weight: 600;
}

.sign-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}
.sign-box2-title{
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}

.sign-box-form {
    display: flex;
    flex-direction: column;
}

.sign-box-input-group {
    margin-bottom: 30px;
    position: relative;
}

.sign-box-input-group label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: #222224;
    padding: 0 5px;
}

.sign-box-input-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #222224;
    color: #fff;
    font-size: 20px;
}

.sign-box-input-group input:focus {
    border-bottom: 2px solid #fff;
    outline: none;
}

.sign-box-link {
    display: flex;
    margin-top: 15px;
}

.sign-box-link a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.sign-box-link a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* Esqueci minha senha */
.password-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px ;
    padding-right: 80px ;
    width: 500px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.password-box-sair{
    margin-left: 340px;
    text-decoration: none;
    color: #ffffff;
}
.password-box-sair:hover{
    font-weight: 600;
}

.password-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}

.password-box-form {
    display: flex;
    flex-direction: column;
}

.password-box-input-group {
    margin-bottom: 30px;
    position: relative;
}

.password-box-input-group label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: #222224;
    padding: 0 5px;
}

.password-box-input-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #222224;
    color: #fff;
    font-size: 20px;
}

.password-box-input-group input:focus {
    border-bottom: 2px solid #fff;
    outline: none;
}

.password-box-advise{
    color: #8C8C8B;
}

.password-box-link {
    display: flex;
    margin-top: 15px;
}

.password-box-link a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.password-box-link a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* Pagamento com PIX */

.pix-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px ;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.pix-box-sair{
    margin-left: 440px;
    text-decoration: none;
    color: #ffffff;
}
.pix-box-sair:hover{
    font-weight: 600;
}

.pix-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}   

.pix-input-field {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
}

.pix-subtitle {
    margin-top: 30px;
}

.pix-subtitle h2 {
    margin-bottom: 10px;
}

.pix-recent-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.pix-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #E1F25C;
    color: #95A617;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}
.pix-star {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

/* Pagamento com Boleto */

.boleto-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px ;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.boleto-box-sair{
    margin-left: 440px;
    text-decoration: none;
    color: #ffffff;
}
.boleto-box-sair:hover{
    font-weight: 600;
}

.boleto-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}   

.boleto-input-field {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
}

.boleto-continue-button {
    width: 100%;
    padding: 10px;
    background-color: #E1F25C;
    border: none;
    border-radius: 6px;
    color: #95A617;
    cursor: pointer;
    margin-bottom: 20px;
}

.boleto-options {
    margin-top: 30px;
    background-color: #333;
    padding: 10px;
    border-radius: 12px;

}

.boleto-option-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 1.25rem;
}

.boleto-arrow {
    color: #bbb;
    font-size: 20px;
}

.boleto-option-item:hover {
    background-color: #444;
    border-radius: 8px;
}

/* Rendimento da Carteira */

.rendimento-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px ;
    width: 900px;
    height: 800px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.rendimento-box-sair{
    margin-left: 740px;
    text-decoration: none;
    color: #ffffff;
}
.rendimento-box-sair:hover{
    font-weight: 600;
}

.rendimento-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}   

.canvas-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 250px; 
    width: 100%; 
}

/* Conta do Usuário */

.conta-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px ;
    padding-right: 80px ;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.conta-box-sair{
    margin-left: 440px;
    text-decoration: none;
    color: #ffffff;
}
.conta-box-sair:hover{
    font-weight: 600;
}

.conta-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}
.conta-box2-title{
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}

.conta-box-form {
    display: flex;
    flex-direction: column;
}

.conta-box-input-group {
    margin-bottom: 30px;
    position: relative;
}

.conta-box-input-group label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: #222224;
    padding: 0 5px;
}

.conta-box-input-group input {
    color: #E1F25C !important;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #222224;
    color: #fff;
    font-size: 20px;
}

/* Notificações */

.notificacao-popup-container {
    background-color: #222224;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px ;
    padding-right: 80px ;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.notificacao-box-sair{
    margin-left: 440px;
    text-decoration: none;
    color: #ffffff;
}
.notificacao-box-sair:hover{
    font-weight: 600;
}

.notificacao-box-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
}
.notificacao-box p{
    font-size: 1.35rem;
}


#pieChart {
    margin-right: 20px;
}

